body {
  background-image: url("../img/polka.jpg");
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  color: #EE6AB3;
  font-family: "Comic Sans MS";
}
h1 {
  font-size: 75px;
  color: #F094C7;
}
button {
  background-color: #F094C7;
  color: white;
}
#dontIgnore {
  display: block;
  color: skyblue;
  font-size: 30px;
  display: block;
  margin-left:  auto;
  margin-right: auto;
}
.sadBear, .try {
  display: none;
}
